.footer {
    display: flex;
    flex-direction: column;
    max-width: 512px;
    text-align: center;
    margin: 40px auto;
}

.footer img {
    width: 45px;
    margin: 0 auto;
}

.footer p {
    color: #8a8fa3;
    margin: 20px auto;
}

.social {
    display: flex;
    height: 45px;
}

.footer span {
    color: rgb(220, 220, 9);
    font-weight: bold;
}